{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
	<div class="page-header">
		<li>请从excel中复制两列，分别粘贴到下面两个框中。</li>
		<li>左边粘贴需要清洗的非标准名称列，右边粘贴你的标准化名称列。</li>
		<li>匹配结果最后一列数字是相似度。</li>
	</div>
</div>


<div class="container">

<!-- 这里怎么一个表单两次不同提交终点？ action=""-->
<form method="post" name="form1">

<div class="col-md-4">
		{{wtf.form_field(form.leftl, class="form-control", placeholder="待清洗数据",rows="15",cols="50",style="resize:none") }}
</div>

<div class="col-md-4">
		{{wtf.form_field(form.rightl, class="form-control", placeholder="标准数据",rows="15",cols="50",style="resize:none") }}
</div>

<div class="col-md-8">
		{{wtf.form_field(form.email, class="form-control", placeholder="你的邮箱") }}
</div>

<div class="col-md-8">
			{{wtf.form_field(form.submit,onclick="form1.action='process';form1.submit();") }}
</div>
</form> 


{% block resultdownload %}
{% endblock %}

</div>

{% endblock %}